:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --small-curve: 0.5rem;
  --large-curve: 0.9375rem;

  --bean-green: #10b981;
  --bean-green-hover: #10b98199;
  --bean-red: #f87171;
  --bean-red-hover: #f8717199;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--primary-link);
  text-decoration: inherit;

  &:hover {
    color: var(--primary-hover);
  }

  &.secondary {
    color: var(--secondary-link);

    &:hover {
      color: var(--secondary-hover);
    }
  }
}

button {
  border-radius: var(--small-curve);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-main);
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover {
    background-color: var(--primary-hover);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.secondary {
    background-color: var(--secondary-main);

    &:hover {
      background-color: var(--secondary-hover);
    }
  }
}

// useful utility styles
.flex-gap {
  flex-grow: 1;
}

.rounded-card {
  text-decoration-color: currentcolor;
  text-decoration: none;
  background-color: #2e323e;
  background-image: none;
  color: #e8e6e3;
  box-shadow: #20213114 0 0 1px, #4e555828 0 0 2px;
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  transition: box-shadow 0.1s linear;
  padding: 19px 15px;
  cursor: default;
  position: relative;
}

.rounded-blue {
  background-color: #0260aa;
  color: #e8e6e3;
  text-decoration-color: currentcolor;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: #20213114 0 0 1px, #4e555828 0 1px 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none currentcolor;
  min-width: 100px;
  cursor: pointer;
  height: 36px;
}

.icon-button {
  position: relative;
  padding-left: 44px;
}

.icon-button::after {
  position: absolute;
  font-family: "Material Symbols Outlined", serif;
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  font-size: 24px;
  line-height: 36px;
  left: 6px;
  top: 0;
  vertical-align: -50%;
}

#main-loading {
  margin-top: 100px;
}

#graph-title {
  margin-left: 18px;
}
